body {
    font-family: Arial;
    text-align: center;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.card {
    border: 1px solid #ddd;
    padding: 10px;
    width: 200px;
}

img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}
